In [1]:
import FSP as fsp
import numpy as np
import pandas as pd
import timeit

# Tests

## 1. Branch and Bound

In [ ]:
# jobs = 10, machines : 10, Cmax = 1097, sigma = [ 3 1 2 8 4 7 9 10 6 5 ]
data = np.array([
    [50, 23, 35,  8, 41, 71, 44, 79, 85, 22],
    [37, 75, 94, 76, 17, 28, 99, 36, 14, 96],
    [25, 80, 36, 37,  1, 31, 16, 56, 53, 71],
    [86, 15, 17, 60, 46, 50, 20, 38, 76,  8],
    [51, 22, 34, 14, 11, 53, 40, 35,  9, 15],
    [21, 97, 48, 61, 77, 67, 14,  6, 95,  7],
    [68, 72, 20, 67,  1,  2, 48, 85, 89, 62],
    [29, 81, 91, 25, 60, 76, 44, 76, 28, 95],
    [52,  1, 29, 13,  6, 45, 64, 41, 32, 46],
    [14, 91, 92, 98, 99, 56, 79, 66, 25, 79]
]).T

flowshop = fsp.FlowShop(data)

temps_debut = timeit.default_timer()
sigma, cmax = flowshop.branchBound()
temps_fin = timeit.default_timer() - temps_debut

print("Jobs : ", flowshop.N, " - Machines : ", flowshop.M)
print("Best permutation : ", sigma.astype(int))
print("Cmax : ", int(cmax))
print("Time : ", temps_fin)

In [ ]:
# instance 01:
# jobs = 20, machines : 5
data =np.loadtxt('./Instances_Taillard/20jobs_5machines_1.txt')

flowshop = fsp.FlowShop(data)

temps_debut = timeit.default_timer()
sigma, cmax = flowshop.branchBound()
temps_fin = timeit.default_timer() - temps_debut

print("Jobs : ", flowshop.N, " - Machines : ", flowshop.M)
print("Best permutation : ", sigma.astype(int))
print("Cmax : ", int(cmax))
print("Time : ", temps_fin)

In [ ]:
#instance 2:celle qui a fonctionné
# jobs = 20, machines : 5
data =np.loadtxt('./Instances_Taillard/20jobs_5machines_2.txt')

flowshop = fsp.FlowShop(data)

temps_debut = timeit.default_timer()
sigma, cmax = flowshop.branchBound()
temps_fin = timeit.default_timer() - temps_debut

print("Jobs : ", flowshop.N, " - Machines : ", flowshop.M)
print("Best permutation : ", sigma.astype(int))
print("Cmax : ", int(cmax))
print("Time : ", temps_fin)

## 2. Les heuristiques

In [2]:
cds_cmax = []
neh_cmax = []
palmer_cmax = []
machines=[]
jobs=[]
Instances=[]


neh_temps = []

In [4]:
import os
#on parcours les fichiers contenant les instances
files=os.listdir("./Instances_Taillard")
i=0
for filename in files:
    
    data=np.loadtxt("./Instances_Taillard/"+filename)
    Instances.append((i%2)+1)
    i+=1
    print(filename)
    flowshop = fsp.FlowShop(data)
    machines.append(flowshop.M)
    jobs.append(flowshop.N)
    
    #CDS
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.CDS()
    cds_cmax.append(int(cmax))
    
    #Palmer
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.palmer_heuristic()
    temps_fin = timeit.default_timer() - temps_debut
    palmer_cmax.append(int(cmax))
    
    #NEH
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH()
    temps_fin = timeit.default_timer() - temps_debut
    neh_cmax.append(int(cmax))
    neh_temps.append(temps_fin)

020jobs_05machines_1.txt
020jobs_05machines_2.txt
020jobs_10machines_1.txt
020jobs_10machines_2.txt
020jobs_20machines_1.txt
020jobs_20machines_2.txt
050jobs_05machines_1.txt
050jobs_05machines_2.txt
050jobs_10machines_1.txt
050jobs_10machines_2.txt
050jobs_20machines_1.txt
050jobs_20machines_2.txt
100jobs_05machines_1.txt
100jobs_05machines_2.txt
100jobs_10machines_1.txt
100jobs_10machines_2.txt
100jobs_20machines_1.txt
100jobs_20machines_2.txt
200jobs_10machines_1.txt
200jobs_10machines_2.txt
200jobs_20machines_1.txt
200jobs_20machines_2.txt
500jobs_20machines_1.txt
500jobs_20machines_2.txt

In [11]:
pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Best Known" : [1278, 1359, 1582,1659,2297,2099,2724,2834,2991,2867,3771,3668,5493,5268,5770,5349,6106,
                   6183,10862,10480,11152,11143,26040,26040],
    "Palmer" : palmer_cmax,
    "CDS" : cds_cmax,
    "NEH" : neh_cmax
})

    jobs  machines  Instance  Palmer    CDS
0     20         5         1    1384   1390
1     20         5         2    1439   1424
2     20        10         1    1790   1757
3     20        10         2    1948   1854
4     20        20         1    2818   2559
5     20        20         2    2331   2285
6     50         5         1    2774   2883
7     50         5         2    3014   3032
8     50        10         1    3453   3382
9     50        10         2    3313   3263
10    50        20         1    4272   4324
11    50        20         2    4303   4216
12   100         5         1    5749   5592
13   100         5         2    5316   5548
14   100        10         1    6161   6239
15   100        10         2    5889   5851
16   100        20         1    7075   6962
17   100        20         2    7058   6970
18   200        10         1   11443  11610
19   200        10         2   10986  11358
20   200        20         1   13042  12536
21   200        20         2   12813  12558
22   500        20         1   28246  28385
23    20         5         1    1384   1390
24    20         5         2    1439   1424
25    20        10         1    1790   1757
26    20        10         2    1948   1854
27    20        20         1    2818   2559
28    20        20         2    2331   2285
29    50         5         1    2774   2883
30    50         5         2    3014   3032
31    50        10         1    3453   3382
32    50        10         2    3313   3263
33    50        20         1    4272   4324
34    50        20         2    4303   4216
35   100         5         1    5749   5592
36   100         5         2    5316   5548
37   100        10         1    6161   6239
38   100        10         2    5889   5851
39   100        20         1    7075   6962
40   100        20         2    7058   6970
41   200        10         1   11443  11610
42   200        10         2   10986  11358
43   200        20         1   13042  12536
44   200        20         2   12813  12558
45   500        20         1   28246  28385
46   500        20         2   29439  29091

## 2. Paramétrage et variantes

### 1. CDS

In [6]:
cds_cmax = []
cds2_cmax = []
cds3_cmax = []
machines=[]
jobs=[]
Instances=[]

In [7]:
import os
#on parcours les fichiers contenant les instances
files=os.listdir("./Instances_Taillard")
i=0
for filename in files:
    
    data=np.loadtxt("./Instances_Taillard/"+filename)
    Instances.append((i%2)+1)
    i+=1
    print(filename)
    flowshop = fsp.FlowShop(data)
    machines.append(flowshop.M)
    jobs.append(flowshop.N)
    
    #CDS | nbSeq = M-1
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.CDS()
    cds_cmax.append(int(cmax))
    
    #CDS | nbSeq = (M-1)/2
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.CDS(round((flowshop.M-1)/2))
    temps_fin = timeit.default_timer() - temps_debut
    cds2_cmax.append(int(cmax))
    
    #CDS | nbSeq = (M-1)/4
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.CDS(round((flowshop.M-1)/4))
    temps_fin = timeit.default_timer() - temps_debut
    cds3_cmax.append(int(cmax))

020jobs_05machines_1.txt
020jobs_05machines_2.txt
020jobs_10machines_1.txt
020jobs_10machines_2.txt
020jobs_20machines_1.txt
020jobs_20machines_2.txt
050jobs_05machines_1.txt
050jobs_05machines_2.txt
050jobs_10machines_1.txt
050jobs_10machines_2.txt
050jobs_20machines_1.txt
050jobs_20machines_2.txt
100jobs_05machines_1.txt
100jobs_05machines_2.txt
100jobs_10machines_1.txt
100jobs_10machines_2.txt
100jobs_20machines_1.txt
100jobs_20machines_2.txt
200jobs_10machines_1.txt
200jobs_10machines_2.txt
200jobs_20machines_1.txt
200jobs_20machines_2.txt
500jobs_20machines_1.txt
500jobs_20machines_2.txt

In [8]:
print("CDS - Variation du paramètre : nbSeq")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Best Known" : [1278, 1359, 1582,1659,2297,2099,2724,2834,2991,2867,3771,3668,5493,5268,5770,5349,6106,
                   6183,10862,10480,11152,11143,26040,26040],
    "nbSeq = M-1" : cds_cmax,
    "nbSeq = (M-1)/2" : cds2_cmax,
    "nbSeq = (M-1)/4" : cds3_cmax
})

CDS - Variation du paramètre : nbSeq

,jobs,machines,Instance,Best Known,nbSeq = M-1,nbSeq = (M-1)/2,nbSeq = (M-1)/4
0,20,5,1,1278,1390,1390,1390
1,20,5,2,1359,1424,1432,1432
2,20,10,1,1582,1757,1791,1791
3,20,10,2,1659,1854,1854,1854
4,20,20,1,2297,2559,2559,2559
5,20,20,2,2099,2285,2285,2353
6,50,5,1,2724,2883,2926,2926
7,50,5,2,2834,3032,3032,3032
8,50,10,1,2991,3382,3382,3645
9,50,10,2,2867,3263,3263,3335
10,50,20,1,3771,4324,4324,4324
11,50,20,2,3668,4216,4216,4237
12,100,5,1,5493,5592,5751,5751
13,100,5,2,5268,5548,5548,5665
14,100,10,1,5770,6239,6239,6239
15,100,10,2,5349,5851,5851,5864
16,100,20,1,6106,6962,6962,6962
17,100,20,2,6183,6970,6970,6970
18,200,10,1,10862,11610,11695,11895
19,200,10,2,10480,11358,11358,11459
20,200,20,1,11152,12536,12618,12675
21,200,20,2,11143,12558,12558,12676
22,500,20,1,26040,28385,28385,28563
23,500,20,2,26040,29091,29091,29325

### 2. NEH

### 2.1 Paramétrages

In [2]:
neh_order_cmax = []
neh_pas_10_cmax = []
neh_pas_20_cmax = []
neh_last_cmax = []
neh_random_cmax = []

neh_order_temps = []
neh_pas_10_temps = []
neh_pas_20_temps = []
neh_last_temps = []
neh_random_temps = []

### 2. NEH

In [ ]:
#on parcours les fichiers contenant les instances
files=os.listdir("./Instances_Taillard")
i=0
for filename in files:
    
    #NEH order = False
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH(order = False)
    temps_fin = timeit.default_timer() - temps_debut
    neh_order_cmax.append(int(cmax))
    neh_order_temps.append(temps_fin)
    
    #NEH pas = 10
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH(pas = 10)
    temps_fin = timeit.default_timer() - temps_debut
    neh_pas_10_cmax.append(int(cmax))
    neh_pas_10_temps.append(temps_fin)
    
    #NEH pas = 20
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH(pas = 20)
    temps_fin = timeit.default_timer() - temps_debut
    neh_pas_20_cmax.append(int(cmax))
    neh_pas_20_temps.append(temps_fin)
    
    #NEH tie = Last
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH(tie = "Last")
    temps_fin = timeit.default_timer() - temps_debut
    neh_last_cmax.append(int(cmax))
    neh_last_temps.append(temps_fin)
    
    #NEH tie = Random
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH(tie = "Random")
    temps_fin = timeit.default_timer() - temps_debut
    neh_random_cmax.append(int(cmax))
    neh_random_temps.append(temps_fin)

In [ ]:
print("NEH - Variation du paramètre : order")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Best Known" : [1278, 1359, 1582,1659,2297,2099,2724,2834,2991,2867,3771,3668,5493,5268,5770,5349,6106,
                   6183,10862,10480,11152,11143,26040,26040],
    "Order = True" : neh_cmax,
    "Order = False" : neh_order_cmax
})

In [ ]:
print("NEH - Variation du paramètre : tie")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Best Known" : [1278, 1359, 1582,1659,2297,2099,2724,2834,2991,2867,3771,3668,5493,5268,5770,5349,6106,
                   6183,10862,10480,11152,11143,26040,26040],
    "Tie = First" : neh_cmax,
    "tie = Last" : neh_last_cmax,
    "tie = Random" : neh_random_cmax
})

In [ ]:
print("NEH - Variation du paramètre : pas")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Pas = 1" : neh_temps,
    "Pas = 10" : neh_pas_10_temps,
    "Pas = 20" : neh_pas_20_temps
})

### 2.2 Améliorations

In [ ]:
neh_kk2_cmax = []
neh_smm_cmax = []

neh_kk2_temps = []
neh_smm_temps = []

In [ ]:
#on parcours les fichiers contenant les instances
files=os.listdir("./Instances_Taillard")
i=0
for filename in files:
    
    #NEH_ameliore tie = "KK2"
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH_ameliore(tie = "KK2")
    temps_fin = timeit.default_timer() - temps_debut
    neh_kk2_cmax.append(int(cmax))
    neh_kk2_temps.append(temps_fin)
    
    #NEH_ameliore tie = "SMM"
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH_ameliore(tie = "SMM")
    temps_fin = timeit.default_timer() - temps_debut
    neh_smm_cmax.append(int(cmax))
    neh_smm_temps.append(temps_fin)

In [ ]:
print("NEH Ameliorée : Comparaison par rapport au CMAX")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Best Known" : [1278, 1359, 1582,1659,2297,2099,2724,2834,2991,2867,3771,3668,5493,5268,5770,5349,6106,
                   6183,10862,10480,11152,11143,26040,26040],
    "NEH " : neh_cmax,
    "NEH Ameliorée KK2" : neh_kk2_cmax,
    "NEH Ameliorée SMM" : neh_smm_cmax
})

In [ ]:
print("NEH Ameliorée : Comparaison par rapport au temps d'éxecution")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Best Known" : [1278, 1359, 1582,1659,2297,2099,2724,2834,2991,2867,3771,3668,5493,5268,5770,5349,6106,
                   6183,10862,10480,11152,11143,26040,26040],
    "NEH " : neh_temps,
    "NEH Ameliorée KK2" : neh_kk2_temps,
    "NEH Ameliorée SMM" : neh_smm_temps
})