In [1]:
import FSP as fsp
import numpy as np
import pandas as pd
import timeit

# Tests

## 1. Branch and Bound

In [ ]:
# jobs = 10, machines : 10, Cmax = 1097, sigma = [ 3 1 2 8 4 7 9 10 6 5 ]
data = np.array([
    [50, 23, 35,  8, 41, 71, 44, 79, 85, 22],
    [37, 75, 94, 76, 17, 28, 99, 36, 14, 96],
    [25, 80, 36, 37,  1, 31, 16, 56, 53, 71],
    [86, 15, 17, 60, 46, 50, 20, 38, 76,  8],
    [51, 22, 34, 14, 11, 53, 40, 35,  9, 15],
    [21, 97, 48, 61, 77, 67, 14,  6, 95,  7],
    [68, 72, 20, 67,  1,  2, 48, 85, 89, 62],
    [29, 81, 91, 25, 60, 76, 44, 76, 28, 95],
    [52,  1, 29, 13,  6, 45, 64, 41, 32, 46],
    [14, 91, 92, 98, 99, 56, 79, 66, 25, 79]
]).T

flowshop = fsp.FlowShop(data)

temps_debut = timeit.default_timer()
sigma, cmax = flowshop.branchBound()
temps_fin = timeit.default_timer() - temps_debut

print("Jobs : ", flowshop.N, " - Machines : ", flowshop.M)
print("Best permutation : ", sigma.astype(int))
print("Cmax : ", int(cmax))
print("Time : ", temps_fin)

In [ ]:
# instance 01:
# jobs = 20, machines : 5
data =np.loadtxt('./Instances_Taillard/20jobs_5machines_1.txt')

flowshop = fsp.FlowShop(data)

temps_debut = timeit.default_timer()
sigma, cmax = flowshop.branchBound()
temps_fin = timeit.default_timer() - temps_debut

print("Jobs : ", flowshop.N, " - Machines : ", flowshop.M)
print("Best permutation : ", sigma.astype(int))
print("Cmax : ", int(cmax))
print("Time : ", temps_fin)

In [ ]:
#instance 2:celle qui a fonctionné
# jobs = 20, machines : 5
data =np.loadtxt('./Instances_Taillard/20jobs_5machines_2.txt')

flowshop = fsp.FlowShop(data)

temps_debut = timeit.default_timer()
sigma, cmax = flowshop.branchBound()
temps_fin = timeit.default_timer() - temps_debut

print("Jobs : ", flowshop.N, " - Machines : ", flowshop.M)
print("Best permutation : ", sigma.astype(int))
print("Cmax : ", int(cmax))
print("Time : ", temps_fin)

## 2. Les heuristiques

In [2]:
cds_cmax = []
neh_cmax = []
palmer_cmax = []
machines=[]
jobs=[]
Instances=[]

In [36]:
import os
#on parcours les fichiers contenant les instances
files=os.listdir("./Instances_Taillard")
i=0
for filename in files:
    
    data=np.loadtxt("./Instances_Taillard/"+filename)
    Instances.append((i%2)+1)
    i+=1
    print(filename)
    flowshop = fsp.FlowShop(data)
    machines.append(flowshop.M)
    jobs.append(flowshop.N)
    
    #CDS
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.CDS()
    cds_cmax.append(int(cmax))
    
    #Palmer
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.palmer_heuristic()
    temps_fin = timeit.default_timer() - temps_debut
    palmer_cmax.append(int(cmax))
    
    #NEH
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH()
    temps_fin = timeit.default_timer() - temps_debut
    neh_cmax.append(int(cmax))

020jobs_05machines_1.txt
020jobs_05machines_2.txt
020jobs_10machines_1.txt
020jobs_10machines_2.txt
020jobs_20machines_1.txt
020jobs_20machines_2.txt
050jobs_05machines_1.txt
050jobs_05machines_2.txt
050jobs_10machines_1.txt
050jobs_10machines_2.txt
050jobs_20machines_1.txt
050jobs_20machines_2.txt
100jobs_05machines_1.txt
100jobs_05machines_2.txt
100jobs_10machines_1.txt
100jobs_10machines_2.txt
100jobs_20machines_1.txt
100jobs_20machines_2.txt
200jobs_10machines_1.txt
200jobs_10machines_2.txt
200jobs_20machines_1.txt
200jobs_20machines_2.txt
500jobs_20machines_1.txt
500jobs_20machines_2.txt

In [37]:

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Best Known" : [1278, 1359, 1582,1659,2297,2099,2724,2834,2991,2867,3771,3668,5493,5268,5770,5349,6106,
                   6183,10862,10480,11152,11143,26040,26040],
    "Palmer" : palmer_cmax,
    "CDS" : cds_cmax,
    "NEH" : neh_cmax
})

    jobs  machines  Instance  Best Known  Palmer    CDS    NEH
0     20         5         1        1278    1384   1390   1286
1     20         5         2        1359    1439   1424   1365
2     20        10         1        1582    1790   1757   1680
3     20        10         2        1659    1948   1854   1729
4     20        20         1        2297    2818   2559   2410
5     20        20         2        2099    2331   2285   2150
6     50         5         1        2724    2774   2883   2733
7     50         5         2        2834    3014   3032   2843
8     50        10         1        2991    3453   3382   3135
9     50        10         2        2867    3313   3263   3032
10    50        20         1        3771    4272   4324   4082
11    50        20         2        3668    4303   4216   3921
12   100         5         1        5493    5749   5592   5519
13   100         5         2        5268    5316   5548   5348
14   100        10         1        5770    6161   6239   5846
15   100        10         2        5349    5889   5851   5453
16   100        20         1        6106    7075   6962   6541
17   100        20         2        6183    7058   6970   6523
18   200        10         1       10862   11443  11610  10942
19   200        10         2       10480   10986  11358  10716
20   200        20         1       11152   13042  12536  11594
21   200        20         2       11143   12813  12558  11675
22   500        20         1       26040   28246  28385  26670
23   500        20         2       26040   29439  29091  27232

## 2. Paramétrage et variantes

### 1. CDS

In [6]:
cds_cmax = []
cds2_cmax = []
cds3_cmax = []
machines=[]
jobs=[]
Instances=[]

In [7]:
import os
#on parcours les fichiers contenant les instances
files=os.listdir("./Instances_Taillard")
i=0
for filename in files:
    
    data=np.loadtxt("./Instances_Taillard/"+filename)
    Instances.append((i%2)+1)
    i+=1
    print(filename)
    flowshop = fsp.FlowShop(data)
    machines.append(flowshop.M)
    jobs.append(flowshop.N)
    
    #CDS | nbSeq = M-1
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.CDS()
    cds_cmax.append(int(cmax))
    
    #CDS | nbSeq = (M-1)/2
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.CDS(round((flowshop.M-1)/2))
    temps_fin = timeit.default_timer() - temps_debut
    cds2_cmax.append(int(cmax))
    
    #CDS | nbSeq = (M-1)/4
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.CDS(round((flowshop.M-1)/4))
    temps_fin = timeit.default_timer() - temps_debut
    cds3_cmax.append(int(cmax))

020jobs_05machines_1.txt
020jobs_05machines_2.txt
020jobs_10machines_1.txt
020jobs_10machines_2.txt
020jobs_20machines_1.txt
020jobs_20machines_2.txt
050jobs_05machines_1.txt
050jobs_05machines_2.txt
050jobs_10machines_1.txt
050jobs_10machines_2.txt
050jobs_20machines_1.txt
050jobs_20machines_2.txt
100jobs_05machines_1.txt
100jobs_05machines_2.txt
100jobs_10machines_1.txt
100jobs_10machines_2.txt
100jobs_20machines_1.txt
100jobs_20machines_2.txt
200jobs_10machines_1.txt
200jobs_10machines_2.txt
200jobs_20machines_1.txt
200jobs_20machines_2.txt
500jobs_20machines_1.txt
500jobs_20machines_2.txt

In [8]:
print("CDS - Variation du paramètre : nbSeq")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Best Known" : [1278, 1359, 1582,1659,2297,2099,2724,2834,2991,2867,3771,3668,5493,5268,5770,5349,6106,
                   6183,10862,10480,11152,11143,26040,26040],
    "nbSeq = M-1" : cds_cmax,
    "nbSeq = (M-1)/2" : cds2_cmax,
    "nbSeq = (M-1)/4" : cds3_cmax
})

CDS - Variation du paramètre : nbSeq

,jobs,machines,Instance,Best Known,nbSeq = M-1,nbSeq = (M-1)/2,nbSeq = (M-1)/4
0,20,5,1,1278,1390,1390,1390
1,20,5,2,1359,1424,1432,1432
2,20,10,1,1582,1757,1791,1791
3,20,10,2,1659,1854,1854,1854
4,20,20,1,2297,2559,2559,2559
5,20,20,2,2099,2285,2285,2353
6,50,5,1,2724,2883,2926,2926
7,50,5,2,2834,3032,3032,3032
8,50,10,1,2991,3382,3382,3645
9,50,10,2,2867,3263,3263,3335
10,50,20,1,3771,4324,4324,4324
11,50,20,2,3668,4216,4216,4237
12,100,5,1,5493,5592,5751,5751
13,100,5,2,5268,5548,5548,5665
14,100,10,1,5770,6239,6239,6239
15,100,10,2,5349,5851,5851,5864
16,100,20,1,6106,6962,6962,6962
17,100,20,2,6183,6970,6970,6970
18,200,10,1,10862,11610,11695,11895
19,200,10,2,10480,11358,11358,11459
20,200,20,1,11152,12536,12618,12675
21,200,20,2,11143,12558,12558,12676
22,500,20,1,26040,28385,28385,28563
23,500,20,2,26040,29091,29091,29325

### 2. NEH