In [1]:
import FSP as fsp
import numpy as np
import pandas as pd
import timeit
import os

# Tests

## 1. Branch and Bound

In [ ]:
# jobs = 10, machines : 10, Cmax = 1097, sigma = [ 3 1 2 8 4 7 9 10 6 5 ]
data = np.array([
    [50, 23, 35,  8, 41, 71, 44, 79, 85, 22],
    [37, 75, 94, 76, 17, 28, 99, 36, 14, 96],
    [25, 80, 36, 37,  1, 31, 16, 56, 53, 71],
    [86, 15, 17, 60, 46, 50, 20, 38, 76,  8],
    [51, 22, 34, 14, 11, 53, 40, 35,  9, 15],
    [21, 97, 48, 61, 77, 67, 14,  6, 95,  7],
    [68, 72, 20, 67,  1,  2, 48, 85, 89, 62],
    [29, 81, 91, 25, 60, 76, 44, 76, 28, 95],
    [52,  1, 29, 13,  6, 45, 64, 41, 32, 46],
    [14, 91, 92, 98, 99, 56, 79, 66, 25, 79]
]).T

flowshop = fsp.FlowShop(data)

temps_debut = timeit.default_timer()
sigma, cmax = flowshop.branchBound()
temps_fin = timeit.default_timer() - temps_debut

print("Jobs : ", flowshop.N, " - Machines : ", flowshop.M)
print("Best permutation : ", sigma.astype(int))
print("Cmax : ", int(cmax))
print("Time : ", temps_fin)

In [ ]:
# instance 01:
# jobs = 20, machines : 5
data =np.loadtxt('./Instances_Taillard/20jobs_5machines_1.txt')

flowshop = fsp.FlowShop(data)

temps_debut = timeit.default_timer()
sigma, cmax = flowshop.branchBound()
temps_fin = timeit.default_timer() - temps_debut

print("Jobs : ", flowshop.N, " - Machines : ", flowshop.M)
print("Best permutation : ", sigma.astype(int))
print("Cmax : ", int(cmax))
print("Time : ", temps_fin)

In [ ]:
#instance 2:celle qui a fonctionné
# jobs = 20, machines : 5
data =np.loadtxt('./Instances_Taillard/20jobs_5machines_2.txt')

flowshop = fsp.FlowShop(data)

temps_debut = timeit.default_timer()
sigma, cmax = flowshop.branchBound()
temps_fin = timeit.default_timer() - temps_debut

print("Jobs : ", flowshop.N, " - Machines : ", flowshop.M)
print("Best permutation : ", sigma.astype(int))
print("Cmax : ", int(cmax))
print("Time : ", temps_fin)

## 2. Les heuristiques

In [2]:
cds_cmax = []
neh_cmax = []
palmer_cmax = []
machines=[]
jobs=[]
Instances=[]


neh_temps = []

In [3]:
#on parcours les fichiers contenant les instances
files=os.listdir("./Instances_Taillard")
i=0
for filename in files:
    
    data=np.loadtxt("./Instances_Taillard/"+filename)
    Instances.append((i%2)+1)
    i+=1
    print(filename)
    flowshop = fsp.FlowShop(data)
    machines.append(flowshop.M)
    jobs.append(flowshop.N)
    
    #CDS
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.CDS()
    cds_cmax.append(int(cmax))
    
    #Palmer
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.palmer_heuristic()
    temps_fin = timeit.default_timer() - temps_debut
    palmer_cmax.append(int(cmax))
    
    #NEH
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH()
    temps_fin = timeit.default_timer() - temps_debut
    neh_cmax.append(int(cmax))
    neh_temps.append(temps_fin)

020jobs_05machines_1.txt
020jobs_05machines_2.txt
020jobs_10machines_1.txt
020jobs_10machines_2.txt
020jobs_20machines_1.txt
020jobs_20machines_2.txt
050jobs_05machines_1.txt
050jobs_05machines_2.txt
050jobs_10machines_1.txt
050jobs_10machines_2.txt
050jobs_20machines_1.txt
050jobs_20machines_2.txt
100jobs_05machines_1.txt
100jobs_05machines_2.txt
100jobs_10machines_1.txt
100jobs_10machines_2.txt
100jobs_20machines_1.txt
100jobs_20machines_2.txt
200jobs_10machines_1.txt
200jobs_10machines_2.txt
200jobs_20machines_1.txt
200jobs_20machines_2.txt
500jobs_20machines_1.txt
500jobs_20machines_2.txt

In [4]:
pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Best Known" : [1278, 1359, 1582,1659,2297,2099,2724,2834,2991,2867,3771,3668,5493,5268,5770,5349,6106,
                   6183,10862,10480,11152,11143,26040,26040],
    "Palmer" : palmer_cmax,
    "CDS" : cds_cmax,
    "NEH" : neh_cmax
})

    jobs  machines  Instance  Best Known  Palmer    CDS    NEH
0     20         5         1        1278    1384   1390   1286
1     20         5         2        1359    1439   1424   1365
2     20        10         1        1582    1790   1757   1680
3     20        10         2        1659    1948   1854   1729
4     20        20         1        2297    2818   2559   2410
5     20        20         2        2099    2331   2285   2150
6     50         5         1        2724    2774   2883   2733
7     50         5         2        2834    3014   3032   2843
8     50        10         1        2991    3453   3382   3135
9     50        10         2        2867    3313   3263   3032
10    50        20         1        3771    4272   4324   4082
11    50        20         2        3668    4303   4216   3921
12   100         5         1        5493    5749   5592   5519
13   100         5         2        5268    5316   5548   5348
14   100        10         1        5770    6161   6239   5846
15   100        10         2        5349    5889   5851   5453
16   100        20         1        6106    7075   6962   6541
17   100        20         2        6183    7058   6970   6523
18   200        10         1       10862   11443  11610  10942
19   200        10         2       10480   10986  11358  10716
20   200        20         1       11152   13042  12536  11594
21   200        20         2       11143   12813  12558  11675
22   500        20         1       26040   28246  28385  26670
23   500        20         2       26040   29439  29091  27232

## 2. Paramétrage et variantes

### 1. CDS

In [5]:
cds_cmax = []
cds2_cmax = []
cds3_cmax = []
machines=[]
jobs=[]
Instances=[]

In [7]:
#on parcours les fichiers contenant les instances
files=os.listdir("./Instances_Taillard")
i=0
for filename in files:
    
    data=np.loadtxt("./Instances_Taillard/"+filename)
    Instances.append((i%2)+1)
    i+=1
    print(filename)
    flowshop = fsp.FlowShop(data)
    machines.append(flowshop.M)
    jobs.append(flowshop.N)
    
    #CDS | nbSeq = M-1
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.CDS()
    cds_cmax.append(int(cmax))
    
    #CDS | nbSeq = (M-1)/2
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.CDS(round((flowshop.M-1)/2))
    temps_fin = timeit.default_timer() - temps_debut
    cds2_cmax.append(int(cmax))
    
    #CDS | nbSeq = (M-1)/4
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.CDS(round((flowshop.M-1)/4))
    temps_fin = timeit.default_timer() - temps_debut
    cds3_cmax.append(int(cmax))

020jobs_05machines_1.txt
020jobs_05machines_2.txt
020jobs_10machines_1.txt
020jobs_10machines_2.txt
020jobs_20machines_1.txt
020jobs_20machines_2.txt
050jobs_05machines_1.txt
050jobs_05machines_2.txt
050jobs_10machines_1.txt
050jobs_10machines_2.txt
050jobs_20machines_1.txt
050jobs_20machines_2.txt
100jobs_05machines_1.txt
100jobs_05machines_2.txt
100jobs_10machines_1.txt
100jobs_10machines_2.txt
100jobs_20machines_1.txt
100jobs_20machines_2.txt
200jobs_10machines_1.txt
200jobs_10machines_2.txt
200jobs_20machines_1.txt
200jobs_20machines_2.txt
500jobs_20machines_1.txt
500jobs_20machines_2.txt

In [8]:
print("CDS - Variation du paramètre : nbSeq")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Best Known" : [1278, 1359, 1582,1659,2297,2099,2724,2834,2991,2867,3771,3668,5493,5268,5770,5349,6106,
                   6183,10862,10480,11152,11143,26040,26040],
    "nbSeq = M-1" : cds_cmax,
    "nbSeq = (M-1)/2" : cds2_cmax,
    "nbSeq = (M-1)/4" : cds3_cmax
})

CDS - Variation du paramètre : nbSeq

,jobs,machines,Instance,Best Known,nbSeq = M-1,nbSeq = (M-1)/2,nbSeq = (M-1)/4
0,20,5,1,1278,1390,1390,1390
1,20,5,2,1359,1424,1432,1432
2,20,10,1,1582,1757,1791,1791
3,20,10,2,1659,1854,1854,1854
4,20,20,1,2297,2559,2559,2559
5,20,20,2,2099,2285,2285,2353
6,50,5,1,2724,2883,2926,2926
7,50,5,2,2834,3032,3032,3032
8,50,10,1,2991,3382,3382,3645
9,50,10,2,2867,3263,3263,3335
10,50,20,1,3771,4324,4324,4324
11,50,20,2,3668,4216,4216,4237
12,100,5,1,5493,5592,5751,5751
13,100,5,2,5268,5548,5548,5665
14,100,10,1,5770,6239,6239,6239
15,100,10,2,5349,5851,5851,5864
16,100,20,1,6106,6962,6962,6962
17,100,20,2,6183,6970,6970,6970
18,200,10,1,10862,11610,11695,11895
19,200,10,2,10480,11358,11358,11459
20,200,20,1,11152,12536,12618,12675
21,200,20,2,11143,12558,12558,12676
22,500,20,1,26040,28385,28385,28563
23,500,20,2,26040,29091,29091,29325

### 2. NEH

### 2.1 Paramétrages

In [7]:
neh_order_cmax = []
neh_pas_10_cmax = []
neh_pas_20_cmax = []
neh_last_cmax = []
neh_random_cmax = []

neh_order_temps = []
neh_pas_10_temps = []
neh_pas_20_temps = []
neh_last_temps = []
neh_random_temps = []

In [8]:
#on parcours les fichiers contenant les instances
files=os.listdir("./Instances_Taillard")
i=0
for filename in files:
    
    data=np.loadtxt("./Instances_Taillard/"+filename)
    print(filename)
    flowshop = fsp.FlowShop(data)
    
    #NEH order = False
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH(order = False)
    temps_fin = timeit.default_timer() - temps_debut
    neh_order_cmax.append(int(cmax))
    neh_order_temps.append(temps_fin)
    
    #NEH pas = 10
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH(pas = 10)
    temps_fin = timeit.default_timer() - temps_debut
    neh_pas_10_cmax.append(int(cmax))
    neh_pas_10_temps.append(temps_fin)
    
    #NEH pas = 20
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH(pas = 20)
    temps_fin = timeit.default_timer() - temps_debut
    neh_pas_20_cmax.append(int(cmax))
    neh_pas_20_temps.append(temps_fin)
    
    #NEH tie = Last
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH(tie = "Last")
    temps_fin = timeit.default_timer() - temps_debut
    neh_last_cmax.append(int(cmax))
    neh_last_temps.append(temps_fin)
    
    #NEH tie = Random
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH(tie = "Random")
    temps_fin = timeit.default_timer() - temps_debut
    neh_random_cmax.append(int(cmax))
    neh_random_temps.append(temps_fin)

020jobs_05machines_1.txt
020jobs_05machines_2.txt
020jobs_10machines_1.txt
020jobs_10machines_2.txt
020jobs_20machines_1.txt
020jobs_20machines_2.txt
050jobs_05machines_1.txt
050jobs_05machines_2.txt
050jobs_10machines_1.txt
050jobs_10machines_2.txt
050jobs_20machines_1.txt
050jobs_20machines_2.txt
100jobs_05machines_1.txt
100jobs_05machines_2.txt
100jobs_10machines_1.txt
100jobs_10machines_2.txt
100jobs_20machines_1.txt
100jobs_20machines_2.txt
200jobs_10machines_1.txt
200jobs_10machines_2.txt
200jobs_20machines_1.txt
200jobs_20machines_2.txt
500jobs_20machines_1.txt
500jobs_20machines_2.txt

#### 2.1.1 CMAX

In [16]:
print("NEH CMAX - Variation du paramètre : order")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Best Known" : [1278, 1359, 1582,1659,2297,2099,2724,2834,2991,2867,3771,3668,5493,5268,5770,5349,6106,
                   6183,10862,10480,11152,11143,26040,26040],
    "Order = True" : neh_cmax,
    "Order = False" : neh_order_cmax
})

NEH - Variation du paramètre : order

    jobs  machines  Instance  Best Known  Order = True  Order = False
0     20         5         1        1278          1286           1334
1     20         5         2        1359          1365           1377
2     20        10         1        1582          1680           1675
3     20        10         2        1659          1729           1797
4     20        20         1        2297          2410           2456
5     20        20         2        2099          2150           2197
6     50         5         1        2724          2733           2745
7     50         5         2        2834          2843           2943
8     50        10         1        2991          3135           3249
9     50        10         2        2867          3032           3145
10    50        20         1        3771          4082           4164
11    50        20         2        3668          3921           4020
12   100         5         1        5493          5519           5538
13   100         5         2        5268          5348           5379
14   100        10         1        5770          5846           6027
15   100        10         2        5349          5453           5569
16   100        20         1        6106          6541           6714
17   100        20         2        6183          6523           6620
18   200        10         1       10862         10942          11132
19   200        10         2       10480         10716          10987
20   200        20         1       11152         11594          11759
21   200        20         2       11143         11675          11763
22   500        20         1       26040         26670          26936
23   500        20         2       26040         27232          27396

In [17]:
print("NEH CMAX - Variation du paramètre : tie")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Best Known" : [1278, 1359, 1582,1659,2297,2099,2724,2834,2991,2867,3771,3668,5493,5268,5770,5349,6106,
                   6183,10862,10480,11152,11143,26040,26040],
    "Tie = First" : neh_cmax,
    "tie = Last" : neh_last_cmax,
    "tie = Random" : neh_random_cmax
})

NEH - Variation du paramètre : tie

,jobs,machines,Instance,Best Known,Tie = First,tie = Last,tie = Random
0,20,5,1,1278,1286,1299,1298
1,20,5,2,1359,1365,1365,1377
2,20,10,1,1582,1680,1681,1675
3,20,10,2,1659,1729,1766,1747
4,20,20,1,2297,2410,2443,2443
5,20,20,2,2099,2150,2134,2150
6,50,5,1,2724,2733,2729,2730
7,50,5,2,2834,2843,2882,2848
8,50,10,1,2991,3135,3175,3175
9,50,10,2,2867,3032,3073,3041
10,50,20,1,3771,4082,4006,4105
11,50,20,2,3668,3921,3958,3976
12,100,5,1,5493,5519,5514,5535
13,100,5,2,5268,5348,5284,5294
14,100,10,1,5770,5846,5897,5871
15,100,10,2,5349,5453,5466,5434
16,100,20,1,6106,6541,6520,6571
17,100,20,2,6183,6523,6550,6518
18,200,10,1,10862,10942,10949,10944
19,200,10,2,10480,10716,10677,10636
20,200,20,1,11152,11594,11638,11618
21,200,20,2,11143,11675,11678,11694
22,500,20,1,26040,26670,26774,26719
23,500,20,2,26040,27232,27215,27108

In [20]:
print("NEH CMAX - Variation du paramètre : pas")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Pas = 1" : neh_cmax,
    "Pas = 10" : neh_pas_10_cmax,
    "Pas = 20" : neh_pas_20_cmax
})

NEH CMAX - Variation du paramètre : pas

    jobs  machines  Instance  Pas = 1  Pas = 10  Pas = 20
0     20         5         1     1286      1437      1472
1     20         5         2     1365      1476      1517
2     20        10         1     1680      1843      2026
3     20        10         2     1729      1983      2214
4     20        20         1     2410      2599      2937
5     20        20         2     2150      2536      2785
6     50         5         1     2733      2814      2945
7     50         5         2     2843      2990      3042
8     50        10         1     3135      3354      3325
9     50        10         2     3032      3157      3265
10    50        20         1     4082      4494      4760
11    50        20         2     3921      4212      4389
12   100         5         1     5519      5585      5649
13   100         5         2     5348      5351      5480
14   100        10         1     5846      6073      6265
15   100        10         2     5453      5648      5661
16   100        20         1     6541      6877      7128
17   100        20         2     6523      6845      7037
18   200        10         1    10942     11057     11177
19   200        10         2    10716     10865     10960
20   200        20         1    11594     11920     12076
21   200        20         2    11675     12042     12177
22   500        20         1    26670     27007     27089
23   500        20         2    27232     27428     27779

### 2.1.2 Temps

In [23]:
print("NEH Temps - Variation du paramètre : order")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Order = True" : neh_temps,
    "Order = False" : neh_order_temps
})

NEH Temps - Variation du paramètre : order

    jobs  machines  Instance  Order = True  Order = False
0     20         5         1      0.048758       0.085476
1     20         5         2      0.023793       0.026985
2     20        10         1      0.047692       0.051551
3     20        10         2      0.045743       0.046960
4     20        20         1      0.096272       0.100501
5     20        20         2      0.096190       0.096124
6     50         5         1      0.336611       0.340077
7     50         5         2      0.348529       0.337255
8     50        10         1      0.668571       0.718749
9     50        10         2      0.664003       0.728352
10    50        20         1      1.416315       1.463363
11    50        20         2      1.361845       1.442581
12   100         5         1      3.197296       2.766709
13   100         5         2      2.538651       2.722643
14   100        10         1      5.672451       5.798089
15   100        10         2      5.921642       5.852662
16   100        20         1     11.627239      11.760449
17   100        20         2     11.318821      11.648579
18   200        10         1     45.171014      46.543516
19   200        10         2     43.172243      47.999771
20   200        20         1     89.882940      99.471181
21   200        20         2     93.528486      98.490028
22   500        20         1   1386.202286    1495.861956
23   500        20         2   1492.026987    1564.143110

In [22]:
print("NEH Temps - Variation du paramètre : tie")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Tie = First" : neh_temps,
    "tie = Last" : neh_last_temps,
    "tie = Random" : neh_random_temps
})

NEH Temps - Variation du paramètre : tie

    jobs  machines  Instance  Tie = First   tie = Last  tie = Random
0     20         5         1     0.048758     0.024747      0.024426
1     20         5         2     0.023793     0.021546      0.024804
2     20        10         1     0.047692     0.045980      0.051967
3     20        10         2     0.045743     0.045230      0.048313
4     20        20         1     0.096272     0.098725      0.097881
5     20        20         2     0.096190     0.103412      0.120610
6     50         5         1     0.336611     0.354901      0.346243
7     50         5         2     0.348529     0.361571      0.347909
8     50        10         1     0.668571     0.697213      0.720990
9     50        10         2     0.664003     0.724338      0.690775
10    50        20         1     1.416315     1.439432      1.467151
11    50        20         2     1.361845     1.447765      1.458367
12   100         5         1     3.197296     2.774240      2.703793
13   100         5         2     2.538651     2.789606      2.788315
14   100        10         1     5.672451     5.750077      5.866491
15   100        10         2     5.921642     5.736962      5.776092
16   100        20         1    11.627239    12.087113     11.723952
17   100        20         2    11.318821    12.079480     11.818896
18   200        10         1    45.171014    47.046884     46.566904
19   200        10         2    43.172243    48.940121     51.950796
20   200        20         1    89.882940    95.484527    113.624037
21   200        20         2    93.528486    96.204121    104.797608
22   500        20         1  1386.202286  1446.798736   1471.638058
23   500        20         2  1492.026987  1477.834268   1443.486059

In [18]:
print("NEH temps - Variation du paramètre : pas")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Pas = 1" : neh_temps,
    "Pas = 10" : neh_pas_10_temps,
    "Pas = 20" : neh_pas_20_temps
})

NEH - Variation du paramètre : pas

    jobs  machines  Instance      Pas = 1    Pas = 10   Pas = 20
0     20         5         1     0.048758    0.004335   0.002236
1     20         5         2     0.023793    0.003201   0.001875
2     20        10         1     0.047692    0.005972   0.003218
3     20        10         2     0.045743    0.005974   0.003288
4     20        20         1     0.096272    0.013807   0.007387
5     20        20         2     0.096190    0.013037   0.006700
6     50         5         1     0.336611    0.055395   0.025515
7     50         5         2     0.348529    0.051755   0.023797
8     50        10         1     0.668571    0.081362   0.045154
9     50        10         2     0.664003    0.076699   0.047246
10    50        20         1     1.416315    0.159036   0.094230
11    50        20         2     1.361845    0.163325   0.106174
12   100         5         1     3.197296    0.287875   0.149019
13   100         5         2     2.538651    0.285087   0.155081
14   100        10         1     5.672451    0.611351   0.327705
15   100        10         2     5.921642    0.608284   0.311926
16   100        20         1    11.627239    1.284853   0.659250
17   100        20         2    11.318821    1.270724   0.653897
18   200        10         1    45.171014    4.712162   2.461815
19   200        10         2    43.172243    4.707645   3.536526
20   200        20         1    89.882940    9.645295   5.091552
21   200        20         2    93.528486    9.881989   5.207870
22   500        20         1  1386.202286  137.166599  74.689264
23   500        20         2  1492.026987  148.783853  77.401616

### 2.2 Améliorations

In [24]:
neh_kk2_cmax = []
neh_smm_cmax = []

neh_kk2_temps = []
neh_smm_temps = []

In [25]:
#on parcours les fichiers contenant les instances
files=os.listdir("./Instances_Taillard")
i=0
for filename in files:
    
    data=np.loadtxt("./Instances_Taillard/"+filename)
    print(filename)
    flowshop = fsp.FlowShop(data)
    
    #NEH_ameliore tie = "KK2"
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH_ameliore(tie = "KK2")
    temps_fin = timeit.default_timer() - temps_debut
    neh_kk2_cmax.append(int(cmax))
    neh_kk2_temps.append(temps_fin)
    
    #NEH_ameliore tie = "SMM"
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.NEH_ameliore(tie = "SMM")
    temps_fin = timeit.default_timer() - temps_debut
    neh_smm_cmax.append(int(cmax))
    neh_smm_temps.append(temps_fin)

020jobs_05machines_1.txt
020jobs_05machines_2.txt
020jobs_10machines_1.txt
020jobs_10machines_2.txt
020jobs_20machines_1.txt
020jobs_20machines_2.txt
050jobs_05machines_1.txt
050jobs_05machines_2.txt
050jobs_10machines_1.txt
050jobs_10machines_2.txt
050jobs_20machines_1.txt
050jobs_20machines_2.txt
100jobs_05machines_1.txt
100jobs_05machines_2.txt
100jobs_10machines_1.txt
100jobs_10machines_2.txt
100jobs_20machines_1.txt
100jobs_20machines_2.txt
200jobs_10machines_1.txt
200jobs_10machines_2.txt
200jobs_20machines_1.txt
200jobs_20machines_2.txt
500jobs_20machines_1.txt
500jobs_20machines_2.txt

#### 2.2.1 CMAX

In [26]:
print("NEH Ameliorée : Comparaison par rapport au CMAX")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Best Known" : [1278, 1359, 1582,1659,2297,2099,2724,2834,2991,2867,3771,3668,5493,5268,5770,5349,6106,
                   6183,10862,10480,11152,11143,26040,26040],
    "NEH " : neh_cmax,
    "NEH Ameliorée KK2" : neh_kk2_cmax,
    "NEH Ameliorée SMM" : neh_smm_cmax
})

NEH Ameliorée : Comparaison par rapport au CMAX

,jobs,machines,Instance,Best Known,NEH,NEH Ameliorée KK2,NEH Ameliorée SMM
0,20,5,1,1278,1286,1342,1297
1,20,5,2,1359,1365,1383,1383
2,20,10,1,1582,1680,1649,1661
3,20,10,2,1659,1729,1716,1716
4,20,20,1,2297,2410,2400,2401
5,20,20,2,2099,2150,2137,2137
6,50,5,1,2724,2733,2724,2735
7,50,5,2,2834,2843,2882,2882
8,50,10,1,2991,3135,3194,3137
9,50,10,2,2867,3032,3039,3031
10,50,20,1,3771,4082,4083,4007
11,50,20,2,3668,3921,3949,3915
12,100,5,1,5493,5519,5538,5507
13,100,5,2,5268,5348,5326,5318
14,100,10,1,5770,5846,5904,5819
15,100,10,2,5349,5453,5478,5446
16,100,20,1,6106,6541,6552,6575
17,100,20,2,6183,6523,6574,6513
18,200,10,1,10862,10942,10926,10950
19,200,10,2,10480,10716,10707,10623
20,200,20,1,11152,11594,11667,11591
21,200,20,2,11143,11675,11691,11723
22,500,20,1,26040,26670,26769,26704
23,500,20,2,26040,27232,27191,27133

#### 2.2.2 Temps

In [51]:
print("NEH Ameliorée : Comparaison par rapport au temps d'éxecution")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "NEH " : neh_temps,
    "NEH Ameliorée KK2" : neh_kk2_temps,
    "NEH Ameliorée SMM" : neh_smm_temps
})

NEH Ameliorée : Comparaison par rapport au temps d'éxecution

,jobs,machines,Instance,NEH,NEH Ameliorée KK2,NEH Ameliorée SMM
0,20,5,1,0.048758,0.121167,0.175694
1,20,5,2,0.023793,0.072284,0.049524
2,20,10,1,0.047692,0.049266,0.055828
3,20,10,2,0.045743,0.054849,0.060075
4,20,20,1,0.096272,0.115469,0.109713
5,20,20,2,0.096190,0.118349,0.115105
6,50,5,1,0.336611,0.364549,0.567123
7,50,5,2,0.348529,0.355497,0.566407
8,50,10,1,0.668571,0.789830,0.825934
9,50,10,2,0.664003,0.728188,0.852369
10,50,20,1,1.416315,1.510058,1.528127
11,50,20,2,1.361845,1.469122,1.545857
12,100,5,1,3.197296,2.819535,3.894600
13,100,5,2,2.538651,2.901192,3.983398
14,100,10,1,5.672451,5.645647,6.101063
15,100,10,2,5.921642,6.080687,6.559289
16,100,20,1,11.627239,11.487070,12.281684
17,100,20,2,11.318821,11.470394,11.682565
18,200,10,1,45.171014,43.807920,57.375699
19,200,10,2,43.172243,46.805665,52.683192
20,200,20,1,89.882940,94.062807,100.774752
21,200,20,2,93.528486,85.061621,94.615474
22,500,20,1,1386.202286,1380.141610,1458.964201
23,500,20,2,1492.026987,1357.852928,1319.678684

# 3 Palmer

In [40]:
palmer_mpi_cmax=[]
palmer_mpi_temps=[]
palmer_temps = []

In [41]:
#on parcours les fichiers contenant les instances
files=os.listdir("./Instances_Taillard")
i=0
for filename in files:
    
    data=np.loadtxt("./Instances_Taillard/"+filename)
    i+=1
    print(filename)
    flowshop = fsp.FlowShop(data)
    
    #Palmer
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.palmer_heuristic()
    temps_fin = timeit.default_timer() - temps_debut
    palmer_temps.append(temps_fin)
    
    #palmer_amélioré
    temps_debut = timeit.default_timer()
    sigma, cmax = flowshop.Palmer_MPI()
    temps_fin = timeit.default_timer() - temps_debut
    palmer_mpi_cmax.append(int(cmax))
    palmer_mpi_temps.append(temps_fin)

020jobs_05machines_1.txt
020jobs_05machines_2.txt
020jobs_10machines_1.txt
020jobs_10machines_2.txt
020jobs_20machines_1.txt
020jobs_20machines_2.txt
050jobs_05machines_1.txt
050jobs_05machines_2.txt
050jobs_10machines_1.txt
050jobs_10machines_2.txt
050jobs_20machines_1.txt
050jobs_20machines_2.txt
100jobs_05machines_1.txt
100jobs_05machines_2.txt
100jobs_10machines_1.txt
100jobs_10machines_2.txt
100jobs_20machines_1.txt
100jobs_20machines_2.txt
200jobs_10machines_1.txt
200jobs_10machines_2.txt
200jobs_20machines_1.txt
200jobs_20machines_2.txt
500jobs_20machines_1.txt
500jobs_20machines_2.txt

#### 3.1 CMAX

In [42]:
print("Palmer Ameliorée : Comparaison par rapport au temps d'éxecution")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "Best Known" : [1278, 1359, 1582,1659,2297,2099,2724,2834,2991,2867,3771,3668,5493,5268,5770,5349,6106,
                   6183,10862,10480,11152,11143,26040,26040],
    "palmer " : palmer_cmax,
    "palmer Ameliorée" : palmer_mpi_cmax
})

Palmer Ameliorée : Comparaison par rapport au temps d'éxecution

    jobs  machines  Instance  Best Known  palmer   palmer Ameliorée
0     20         5         1        1278     1384              1384
1     20         5         2        1359     1439              1437
2     20        10         1        1582     1790              1741
3     20        10         2        1659     1948              1894
4     20        20         1        2297     2818              2809
5     20        20         2        2099     2331              2316
6     50         5         1        2724     2774              2774
7     50         5         2        2834     3014              2957
8     50        10         1        2991     3453              3453
9     50        10         2        2867     3313              3196
10    50        20         1        3771     4272              4272
11    50        20         2        3668     4303              4303
12   100         5         1        5493     5749              5593
13   100         5         2        5268     5316              5316
14   100        10         1        5770     6161              6161
15   100        10         2        5349     5889              5773
16   100        20         1        6106     7075              7075
17   100        20         2        6183     7058              7058
18   200        10         1       10862    11443             11407
19   200        10         2       10480    10986             10986
20   200        20         1       11152    13042             12896
21   200        20         2       11143    12813             12726
22   500        20         1       26040    28246             28013
23   500        20         2       26040    29439             29439

#### 3.2 Temps

In [43]:
print("Palmer Ameliorée : Comparaison par rapport au temps d'éxecution")

pd.DataFrame({
    "jobs":jobs,
    "machines":machines,
    "Instance" : Instances,
    "palmer " : palmer_temps,
    "palmer Ameliorée" : palmer_mpi_temps
})

Palmer Ameliorée : Comparaison par rapport au temps d'éxecution

    jobs  machines  Instance   palmer   palmer Ameliorée
0     20         5         1  0.003241          0.009974
1     20         5         2  0.003055          0.008983
2     20        10         1  0.005219          0.013654
3     20        10         2  0.002104          0.006367
4     20        20         1  0.009619          0.014975
5     20        20         2  0.003042          0.009205
6     50         5         1  0.000873          0.004175
7     50         5         2  0.001411          0.004800
8     50        10         1  0.002039          0.005003
9     50        10         2  0.002577          0.007224
10    50        20         1  0.002737          0.008623
11    50        20         2  0.003564          0.009606
12   100         5         1  0.001309          0.005441
13   100         5         2  0.001514          0.004534
14   100        10         1  0.003842          0.014385
15   100        10         2  0.002686          0.008352
16   100        20         1  0.006283          0.018508
17   100        20         2  0.005219          0.017135
18   200        10         1  0.006565          0.020743
19   200        10         2  0.006468          0.016206
20   200        20         1  0.011855          0.036318
21   200        20         2  0.010529          0.043056
22   500        20         1  0.029421          0.096150
23   500        20         2  0.030865          0.093909